.body{
    width: 500px;
    height: 500px;
    position: absolute;
}
div {
	width: 400px;
	height: 400px;

	
}
.div{
    position: absolute;

}

.border{
    border: 2px solid gray;
    width: 400px;
    height: 400px;
    position: relative;
    animation-name: bor;
    animation-fill-mode:forwards;
    animation-delay:4s;
    animation-duration:1s;
    border-radius: 50;
}
@keyframes bor{
    100%{stroke-width:10;}
}
.rect{
    fill: none;
    animation-name: rect_yellow;
    animation-delay:5s;
    animation-duration:1s;
    animation-fill-mode:forwards;
    will-change: transform; 
}
@keyframes rect_yellow{
    100%{stroke-width:370;
    stroke: yellow;}
}

svg {
    top: 0;
	left: 0;
}

.running1 {
    stroke-linecap: round;
	stroke: #000;
	fill: none;
	stroke-dasharray: 400;
	animation-name: anim1;
    animation-duration:3s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    will-change: transform;
    

}

@keyframes anim1{
    0% {transform: translateX(0px);}
    100% {transform: translateX(390px);}
}
.running2 {
    stroke-linecap: round;
	stroke: #000;
	fill: none;
	stroke-dasharray: 400;
	animation-name: anim2;
    animation-duration:3s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    will-change: transform;
}

@keyframes anim2{
    0% {transform: translateY(0px);}
    100% {transform: translateY(390px);}
}
.running3 {
    stroke-linecap: round;
	stroke: #000;
	fill: none;
	stroke-dasharray: 400;
	animation-name: anim3;
    animation-duration:3s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    will-change: transform;
}

@keyframes anim3{
    0% {transform: translateX(390px);}
    100% {transform: translateX(-0px);}
}
.running4 {
    stroke-linecap: round;
	stroke: #000;
	fill: none;
	stroke-dasharray: 400;
	
    animation-name: anim4;
    animation-duration:3s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    will-change: transform;
}

@keyframes anim4{
    0% {transform: translateY(380px);}
    100% {transform: translateY(-0px);}
}


